<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/dashboardStylesheet.css' %} ">
    <title>Dashboard</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <ul>
                <li>><a href="/create_project">Create New Project</a></li>
                <li>><a href="/">Logout</a></li>
                <li>><a href="/inbox">Messages</a></li>
            </ul>   
        </div>
        <div id="body">
            <div id="wip">
                <div id="projectTable">
                    {%for projects in user_projects %}
                        <table>
                            <tr>
                                <th>Project</th>
                                <th>Deadline</th>
                                <th>Project Manager</th>
                                <th>Status</th>
                                <!-- on status have the function that tells how many tasks are done -->
                            </tr>
                            <tr>
                                <td>{{projects.title}} </td>
                                <td>{{projects.due_on}} </td>
                                <td>{{projects.projectManager}} </td>
                                <td>{{projects.completed}} </td>
                            </tr>
                        </table>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div id="footer">

        </div>
    </div>
</body>
</html>